<div class="letter-container">
   <h1 class="text-area-subject">{{= letterData.letterSubj}}</h1>
    <hr>
    <div class="text-area-info">
        <div class="text-area-contacts">
            <img src="../images/text_star.png" class="text-area-star">
            <span class="contacts-names"><span class="text-area-sender">{{= letterData.senderName}}</span> to Kamal Chaneman</span>
        </div>
        <div class="text-area-panel">
            <span class="text-area-date">{{= letterData.arrivalTime}}</span>
            <img class="text-area-button reply" src="../images/reply.png">
            <img class="text-area-button reply-to-all" src="../images/reply_all.png">
            <img class="text-area-button forward" src="../images/forward.png">
            <img class="text-area-button do-more" src="../images/panel_dots.png">
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="text-area-letter">
        <p>{{= letterData.letterText}}</p>
    </div>
</div>