{{ _.forEach(data, function(data, key) { }}
<div class="inbox-list-item" id= "{{= key}}">

    <div class="sender-image">
        <img src="../images/sender_pic.png"> <!--как быть с этой картинкой?-->
    </div>


    <img class="star-icon" src="../images/star_icon.png">
    <span class="letter-time">{{= data.arrivalTime}}</span>

    <div class="text-block">
      <span class="sender-name">{{= data.senderName}}</span>
      <span class="letter-subject">{{= data.subject}}</span>
      <span class="letter-preview">{{= data.preview}}</span>
    </div>


</div>
{{ }); }}