.inbox-list-item {
    height: 86px;
    min-height: 86px;
    max-height: 96px;
    margin-top: 0;
    position: relative;
    border-bottom: 1px solid #ebeef3;

    /*width: 400px;*/

}
.inbox-list-item:nth-child(2) {  /*почему тут двойка?*/
    margin-top: 62px;
    border-top: none;

}

.inbox-list-item:nth-child(even) {
    background-color: #fcfdfe;
}

.inbox-list-item:hover {
    background-color: #ffffef;
}

    .star-icon {
        position: absolute;
        left: 10px;
        top: 5px;
    }
    .letter-time {
        position: absolute;
        right: 10px;
        top: 13px;
        color: #666666;
    }


    .sender-image {

        float: left;
        padding: 25px 20px 0 20px;
        height: 100%;
    }

    .text-block {

        float: right;

    }

    .sender-name {
        display: block;
        color: #b6b6b6;
    }

    .letter-subject {
        display: block;
        font-weight: bold;
        color: #4f4f4f;
    }

    .letter-preview {
        /*display: block;*/
        color: #b6b6b6;
    }
