.settings {
    flex-basis: 40px;
    background-color: #2a394f;
    padding: 0;

}

.settings-item {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 0;
    margin-left: -0.25em;
    margin-bottom: -0.25em;
}

.settings-item:hover {
    background-color: #303f58;
}

.settings-icon {
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top: 0;
    margin:auto;
}

