.sidebar {
    background-color: #364760;
    display: flex;
    flex-direction: column;
    flex: 1 2 50px;
    min-width: 210px;
    position: relative;

}

.sidebar-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: 10px;
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    .sidebar {
        min-width: 40px;
    }

    .sidebar div {
        visibility: hidden;
    }

    .sidebar-button {
       visibility: visible;
    }
}