.text-area {
    position: relative;
    flex: 3 1;
    border: 1px solid #ebeef3;
    padding-top: 62px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: none;
    border-top: none;





}

    hr {
        border: none; /* Убираем границу для браузера Firefox */
        color: #ebeef3; /* Цвет линии для остальных браузеров */
        background-color: #ebeef3; /* Цвет линии для браузера Firefox и Opera */
        height: 1px; /* Толщина линии */
        margin-bottom: 12px;
    }

    .text-area-info {
        margin-bottom: 40px;
        color: #b6b6b6;
    }

    .text-area-contacts {
        float: left;
        max-width: 50%;
        clear: right;
    }

    .text-area-panel {
        float: right;
    }

    .text-area-sender {
        color: #2a80b9;
        font-weight: bold;
    }

    .text-area-subject {
        color: #4f4f4f;
    }

    .text-area-letter {
        color: #666666;
    }

    .text-area-button {
        margin-left: 6px;
    }


.text-area-toolbar {
    position: absolute;
    left: -1px;
    right: 0;
    top: 9px;
    border: 1px solid #ebeef3;
    height: 47px;
    background-color: #eef1f7;




}

.text-area-toolbar .buttons {
    float: left;
    margin-top: 7px;
    margin-left: 15px;
}

.text-area-toolbar .buttons img {

    margin-right: -7px;
}

